@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;800&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Coves, "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
  background-color: linear-gradient(90deg, rgba(157,238,221,1) 0%, rgba(20,158,148,1) 35%, rgba(10,71,67,1) 100%);
}
.Content p footer {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 2.3rem;
}

.footer {
  color: white;
  text-align: center;
  position: sticky;
}

.button {
    background-color: #9DEEDD;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3em;
    line-height: 2.8em;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 0;
}

.fa-brands {
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
}

ul.links {
  padding-left: 0px;
  text-align: center;
}
ul.links > li {
  display: inline-block;
}
ul.links > li:hover {
  text-decoration: underline;
}
ul.links > li > a {
  color: white;
  text-decoration: none;
}

.social-media a {
  margin-right: 15px;
}

div.flex-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.flex-links p {
  margin-right: 10px;
}

#parallax-container {
  position: fixed;
  width: 2400px;
  height: 712px;
  left: 50%;
  transform: translate(-50%, 0);
}

#parallax-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}

#parallax-container img:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  background: rgb(45, 10, 13);
}
