@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  overflow-x:hidden;
  background-color: #94331f;
}
h1 {
  text-align:center;
}
.page {
  width:100vw;
  height:100vh;
  perspective:1px;
  perspective-origin: center center;
  overflow-x:hidden;
}
.overflow {
  position:absolute;
  width:100vw;
  min-height:100vh;
  top:100vh;
  background-color: #129699;
}
#parallax {
  transform-style: preserve-3d;
  height:120vh;
}

.keyart_layer {
	background-position: bottom center;
	background-size: cover;
	background-repeat: repeat-x;
	position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#keyart-0 {
  background-image: url('/assets/images/1.png');
  background-color: #ffaf1b;
  transform:translate3d(-11px,-46px,-1.3px) scale(2.);
}
#keyart-1 {
  background-image: url('/assets/images/2.png');
  transform:translate3d(0,-47px,-.7px) scale(1.7);
}
#keyart-2 {
  background-image: url('/assets/images/3.png');
  transform:translate3d(0,-98px,-.4px) scale(1.6);
}
#keyart-3 {
  background-image: url('/assets/images/4.png');
  transform:translate3d(0,-2px,-.1px) scale(1.1);
}
#keyart-4 {
  background-image: url('/assets/images/5.png');
  transform:translate3d(0,35px,.1px) scale(.9);
}
#keyart-5 {
  background-image: url('/assets/images/6.png');
  transform:translate3d(0,84px,.2px) scale(.8);
}
#keyart-6 {
  background-image: url('/assets/images/7.png');
  transform:translate3d(0, 106px,.3px) scale(.7);
}
#keyart-7 {
  background-image: url('/assets/images/8.png');
  transform:translate3d(0,106px,.38px) scale(.65);
}
#keyart-8 {
  background-image: url('/assets/images/9.png');
  transform:translate3d(0, 180px,.45px) scale(.8);
}


.button {
    background-color: #9DEEDD;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3em;
    line-height: 2.8em;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 0;
}

.bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    height: 8rem;
    width: 15rem;
}

.w-20 {
    width: 15rem;
}

.h-20 {
    height: 8rem;
}
